In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [20]:
data=pd.read_csv("infy data.csv")

In [21]:
data.head()

,Symbol,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,INFY,29-Jul-21,1605.60,1600.10,1620.00,1600.10,1615.50,1617.00,1614.80,4660873,7526375522,144550,2926321,62.78
1,INFY,30-Jul-21,1617.00,1610.00,1623.40,1606.15,1611.75,1610.50,1613.35,6234257,10058016360,136907,4485149,71.94
2,INFY,02-Aug-21,1610.50,1627.45,1634.75,1619.20,1632.00,1631.55,1627.56,5553389,9038450771,123236,4318503,77.76
3,INFY,03-Aug-21,1631.55,1647.00,1658.65,1635.60,1657.00,1655.20,1645.86,5513668,9074703957,140415,3887460,70.51
4,INFY,04-Aug-21,1655.20,1669.10,1679.90,1639.05,1648.55,1649.25,1653.26,6740391,11143605331,152430,4752601,70.51

In [22]:
data.shape

(11, 14)

In [23]:
data.describe()

,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
count,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,1.100000e+01,1.100000e+01,11.000000,1.100000e+01,11.000000
mean,1644.631818,1649.372727,1661.027273,1640.054545,1651.590909,1652.268182,1650.747273,5.482016e+06,9.051230e+09,133797.909091,3.940271e+06,71.594545
std,25.224435,26.319207,25.226022,23.833731,23.771998,24.939770,24.245744,9.090673e+05,1.520892e+09,16868.021434,7.662155e+05,4.057729
min,1605.600000,1600.100000,1620.000000,1600.100000,1611.750000,1610.500000,1613.350000,3.754855e+06,6.206401e+09,100454.000000,2.558438e+06,62.780000
25%,1624.275000,1637.225000,1646.700000,1627.400000,1640.275000,1640.400000,1636.710000,4.959058e+06,8.263059e+09,123642.500000,3.630018e+06,69.950000
50%,1650.200000,1657.000000,1666.000000,1644.000000,1652.100000,1653.550000,1653.260000,5.513668e+06,9.038451e+09,136907.000000,3.887460e+06,71.940000
75%,1659.250000,1668.550000,1679.950000,1654.050000,1669.275000,1670.275000,1665.515000,5.946918e+06,9.804708e+09,146938.000000,4.401826e+06,73.860000
max,1677.550000,1679.150000,1696.500000,1674.000000,1684.950000,1689.600000,1687.650000,6.846517e+06,1.146306e+10,152430.000000,5.175394e+06,77.760000

In [24]:
closed_price = data["Close Price"]
closed_price

0     1617.00
1     1610.50
2     1631.55
3     1655.20
4     1649.25
5     1653.55
6     1650.20
7     1663.30
8     1677.25
9     1677.55
10    1689.60
Name: Close Price, dtype: float64

In [25]:
open_price=data["Open Price"]
open_price

0     1600.10
1     1610.00
2     1627.45
3     1647.00
4     1669.10
5     1649.50
6     1657.00
7     1661.00
8     1668.00
9     1674.80
10    1679.15
Name: Open Price, dtype: float64

In [26]:
print(data.columns)

Index(['Symbol', 'Date', 'Prev Close', 'Open Price', 'High Price', 'Low Price',
       'Last Price', 'Close Price', 'Average Price', 'Total Traded Quantity',
       'Turnover', 'No. of Trades', 'Deliverable Qty',
       '% Dly Qt to Traded Qty'],
      dtype='object')

In [51]:
#mean calculation
def mean(column):
    return sum(column)/len(column)

#varience calculaion
def var(column):
    x2=0
    x_mean=mean(column)
    for i in range(len(column)):
        x2=x2+(column[i]-x_mean)**2
    return x2/len(column)

#standard_deviation calculation
def std(column):
    return var(column)**(0.5)

#standard_error calculation
def se(column):
    return std(column)/(len(column)**(0.5))

In [55]:
print("""For Closed Price :
Mean: {0}
Variance: {1}
Standard Deviation: {2}
Standard Error: {3}
""".format(mean(closed_price), var(closed_price), std(closed_price), se(closed_price)))

For Closed Price :
Mean: 1652.2681818181816
Variance: 565.447396694214
Standard Deviation: 23.779137845897903
Standard Error: 7.169679824816662

In [56]:
print("""For Open Price :
Mean: {0}
Variance: {1}
Standard Deviation: {2}
Standard Error: {3}
""".format(mean(open_price), var(open_price), std(open_price), se(open_price)))

For Open Price :
Mean: 1649.3727272727274
Variance: 629.7278925619839
Standard Deviation: 25.094379700681664
Standard Error: 7.566240164897466

In [11]:
#Covarience calculation
def covar(column1,column2):
    sum=0
    x_mean=mean(column1)
    y_mean=mean(column2)
    for i in range(len(column1)):
        sum+=(column1[i]-x_mean)*(column2[i]-y_mean)
    return sum/(len(column1)-1)


#Correlation calculation
def corr(column1,column2):
    x2=y2=sum=0
    x_mean=mean(column1)
    y_mean=mean(column2)
    for i in range(len(column1)):
        sum+=(column1[i]-x_mean)*(column2[i]-y_mean)
        x2+=(column1[i]-x_mean)**2
        y2+=(column2[i]-y_mean)**2
    return sum/((x2*y2)**(0.5))

In [60]:
print("""Between Closed Price and Open Price :
Covarience : {0}
Correlation: {1}
""".format(covar(closed_price,open_price),corr(closed_price,open_price)))

Between Closed Price and Open Price :
Covarience : 610.2477954545457
Correlation: 0.9296960046419308