In [1]:
import seaborn as sns

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv("Automobile_data.csv")

In [4]:
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450

In [5]:
df=df.drop(["normalized-losses"],axis=1)

In [6]:
df.head()

,symboling,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,audi,gas,std,four,sedan,fwd,front,99.8,176.6,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,audi,gas,std,four,sedan,4wd,front,99.4,176.6,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450

KeyError: "['normalized-losses'] not found in axis"

In [ ]:
a=sns.lineplot(x="wheel-base",y="engine-size",data=df)

In [ ]:
a=sns.lineplot(x="wheel-base",y="engine-size",data=df)

In [ ]:
a=sns.lineplot(x="bore",y="stroke",data=df)

In [ ]:
a=sns.lineplot(x="bore",y="stroke",data=df)

In [ ]:
a=sns.lineplot(x="bore",y="stroke",hue="num-of-doors",data=df.head(15))

In [ ]:
a=sns.lineplot(x="bore",y="stroke",hue="num-of-doors",data=df.head(50))

In [ ]:
a=sns.lineplot(x="bore",y="stroke",hue="make",data=df.head(50))

In [ ]:
a=sns.lineplot(x="bore",y="stroke",hue="num-of-doors",data=df.head(50))

In [ ]:
a=sns.lineplot(x="bore",y="stroke",hue="num-of-doors",data=df)

In [ ]:
hue="num-of-doors"
a=sns.lineplot(x="bore",y="stroke",hue="num-of-doors",data=df.head(100))

In [ ]:
a=sns.lineplot(x="bore",y="stroke",hue="fuel-system",data=df.head(100))

In [ ]:
a=sns.lineplot(x="bore",y="stroke",hue="drive-wheels",style="fuel-system",data=df.head(100))

In [ ]:
sns.set(rc={'figure.figsize':(12,10)})
a=sns.lineplot(x="bore",y="stroke",hue="drive-wheels",style="drive-wheels",data=df.head(100))

In [ ]:
sns.set(rc={'figure.figsize':(12,10)})
a=sns.lineplot(x="bore",y="stroke",hue="drive-wheels",style="drive-wheels",data=df.head(100),ci=None)